__pycache__/
*.py[cod]
*$py.class
*.so
dist/
eggs/
*.egg-info/
*.egg
pip-wheel-metadata/
build/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.tox/
.nox/
.coverage
.coverage.*
.cache
.venv/
venv/
ENV/
env/
.idea/
.vscode/
.DS_Store
.env
db_data/
*.log